    /*Animaciones*/
    #box-object{
        background-color: black;
        width: 0.01vw;
        height: 0.01vh;
        visibility: hidden;
    }
    .contentAnimation{
        animation: fadeInAnimation ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    
    .scale-in-tl{animation:scale-in-tl .5s cubic-bezier(.25,.46,.45,.94) both}
    @keyframes scale-in-tl{0%{transform:scale(0);transform-origin:0 0;opacity:0}100%{transform:scale(2000);transform-origin:0 0;opacity:0.85}}
    
    .scale-in-tl-mb{animation:scale-in-tl-mb .5s cubic-bezier(.25,.46,.45,.94) both}
    @keyframes scale-in-tl-mb{0%{transform:scale(0);transform-origin:0 0;opacity:0}100%{transform:scale(200);transform-origin:0 0;opacity:0.85}}
    li:hover a{
        color:dimgray;
    }
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }